body, html {
    margin: 0;
    padding: 0;
    background-color: black;
    color: gray;
}
main, footer{
    max-width: 800px;
    margin: 0 auto;
}

h3, a{
    color: yellow
}
footer {
    padding-top: 50px;
    padding-bottom: 50px;
}

.block-heading {
    font-size: 35px;
    margin-top: 30px;
    color: yellow;
} 

.block-image img {
    width: 100%;
    height: auto;
    border-color: yellow;
}

.block-paragraph h4{
    color: white;
}